@page "/admin"
@rendermode InteractiveWebAssembly
@using BlazorSignalRApp.Client.Models
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager Navigation
@implements IAsyncDisposable

<PageTitle>Administrátorská stránka</PageTitle>

@if (IsConnected && _gameData.LastUpdated > DateTime.Today)
{
    <h3>Správa skladů</h3>
    <table>
        <thead>
        <tr>
            <th>
                Království
            </th>
            @foreach (var resource in _gameData.Kingdoms[0].Resources)
            {
                <th>
                    @resource.Name
                </th>
            }
        </tr>
        </thead>
        <tbody>
        @foreach (var kingdom in _gameData.Kingdoms)
        {
            <tr>
                <td>@kingdom.KingdomName <span style="font-size: x-small">@kingdom.Resources.First(r => r.HomeResource).Name</span></td>
                @foreach (var resource in kingdom.Resources)
                {
                    <td>
                        <button
                            @onclick="() => UpdateKingdom(_gameData.Kingdoms.IndexOf(kingdom), resource.Name, -10)">-10
                        </button>
                        <button
                            @onclick="() => UpdateKingdom(_gameData.Kingdoms.IndexOf(kingdom), resource.Name, -1)">-1
                        </button>
                        @resource.Amount
                        <button
                            @onclick="() => UpdateKingdom(_gameData.Kingdoms.IndexOf(kingdom), resource.Name, +1)">+1
                        </button>
                        <button
                            @onclick="() => UpdateKingdom(_gameData.Kingdoms.IndexOf(kingdom), resource.Name, +10)">+10
                        </button>
                    </td>
                }

            </tr>
        }
        </tbody>
    </table>

    <hr/>
    
    <h3>Prahy</h3>
    <table>
        <tr>
            
            <th colspan="2">
                Cena C1 při rozdílu =&lt; R1
            </th>

            <th colspan="2">
                Cena C2 při rozdílu &gt; R1
            </th>
            <th>Cena C3 při rozdílu &gt; R2</th>
            
        </tr>
        <tr>
            <td>C1</td>
            <td>R1</td>
            <td>C2</td>
            <td>R2</td>
            <td>C3</td>
        </tr>
        <tr>
            <td>
                <button @onclick="() => UpdateResource(UpdateResourceParameter.UPDATE_C1, -1)">-</button>
                <span>@_gameData.ExRateLowAmount</span>
                <button @onclick="() => UpdateResource(UpdateResourceParameter.UPDATE_C1, 1)">+</button>
            </td>
            <td>
                <button @onclick="() => UpdateResource(UpdateResourceParameter.UPDATE_R1, -1)">-</button>
                <span>@_gameData.ExRateLow</span>
                <button @onclick="() => UpdateResource(UpdateResourceParameter.UPDATE_R1, 1)">+</button>
            </td>
            <td>
                <button @onclick="() => UpdateResource(UpdateResourceParameter.UPDATE_C2, -1)">-</button>
                <span>@_gameData.ExRateMedAmount</span>
                <button @onclick="() => UpdateResource(UpdateResourceParameter.UPDATE_C2, 1)">+</button>
            </td>
            <td>
                <button @onclick="() => UpdateResource(UpdateResourceParameter.UPDATE_R2, -1)">-</button>
                <span>@_gameData.ExRateMed</span>
                <button @onclick="() => UpdateResource(UpdateResourceParameter.UPDATE_R2, 1)">+</button>
            </td>
            <td>
                <button @onclick="() => UpdateResource(UpdateResourceParameter.UPDATE_C3, -1)">-</button>
                <span>@_gameData.ExRateHighAmount</span>
                <button @onclick="() => UpdateResource(UpdateResourceParameter.UPDATE_C3, 1)">+</button>
            </td>
        </tr>
    </table>
    
    <hr />
    
    <table>
        <tr>
            <th>Min. zásoba pro zdarma</th>
            <th>Množství zdarma</th>
        </tr>
        <tr>
            <td>
                <button @onclick="() => UpdateResource(UpdateResourceParameter.UPDATE_F1, -1)">-</button>
                <span>@_gameData.HomeResourceAmountFreeMoreThan</span>
                <button @onclick="() => UpdateResource(UpdateResourceParameter.UPDATE_F1, 1)">+</button>
            </td>
            <td>
                    <button @onclick="() => UpdateResource(UpdateResourceParameter.UPDATE_F2, -1)">-</button>
                    <span>@_gameData.HomeResourceAmountFree</span>
                    <button @onclick="() => UpdateResource(UpdateResourceParameter.UPDATE_F2, 1)">+</button>
            </td>
        </tr>
    </table>
    
    <hr/>
    <input type="checkbox" checked=@_resetEnabled @onclick="() => _resetEnabled = !_resetEnabled" /><span>Povolit vynulování stavu</span>
    <input type="checkbox" checked=@_resetEnabled2 @onclick="() => _resetEnabled2 = !_resetEnabled2" /><span>Povolit vynulování stavu</span>
    <button @onclick="ResetGame" disabled=@(!_resetEnabled || !_resetEnabled2)>Nastavit výchozí hodnoty - vynuluje aktuální stav!!!</button>

    <hr/>

    <p>Poslendí změna: @_gameData.LastUpdated.ToLongTimeString()</p>
}

@code {
    private HubConnection? hubConnection;
    private GameData _gameData = new GameData();
    private string? userInput;
    private string? messageInput;
    private bool _resetEnabled = false;
    private bool _resetEnabled2 = false;

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(Navigation.ToAbsoluteUri("/gamedatahub"))
            .Build();

        hubConnection.On<GameData>("NewGameData", (gameData) =>
        {
            _gameData = gameData;
            InvokeAsync(StateHasChanged);
        });

        await hubConnection.StartAsync();
        await hubConnection.SendAsync("Sync");
    }

    private async Task Send()
    {
        if (hubConnection is not null)
        {
            await hubConnection.SendAsync("UpdateGameData", _gameData);
        }
    }

    private async Task ResetGame()
    {
        if (hubConnection is not null)
        {
            await hubConnection.SendAsync("ResetGame");
        }
    }

    private async Task UpdateResource(UpdateResourceParameter parameter, int amount)
    {
        if (hubConnection is not null)
        {
            await hubConnection.SendAsync("UpdateResourceParameters", parameter, amount);
        }
    }
    
    private async Task UpdateKingdom(int kingdomIndex, string resourceName, int amount)
    {
        var kingdom = _gameData.Kingdoms[kingdomIndex];
        // Make sure we don't set the resource to negative numbers
        if (kingdom.Resources.First(r => r.Name == resourceName).Amount == 0 && amount == -1)
        {
            return;
        }

        var updateContract = new GameDataUpdateContract
        {
            KingdomName = kingdom.KingdomName,
            ResourceName = resourceName,
            Amount = amount
        };

        if (hubConnection is not null)
        {
            await hubConnection.SendAsync("UpdateGameData", updateContract);
        }
    }

    public bool IsConnected =>
        hubConnection?.State == HubConnectionState.Connected;

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }

}
