@page "/gameplay"
@rendermode InteractiveWebAssembly
@using BlazorSignalRApp.Client.Models
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager Navigation
@implements IAsyncDisposable

<PageTitle>Přehled království</PageTitle>

@if (IsConnected && _gameData.LastUpdated > DateTime.Today)
{
    <h3>Výběr království</h3>
    <div class="form-group">
        <label>
            Moje království:
            <select name="Království" id="kingdomselect" @bind="_selectedKingdomIndex">
                @foreach (var kingdom in _gameData.Kingdoms)
                {
                    <option value="@_gameData.Kingdoms.IndexOf(kingdom)">@kingdom.KingdomName</option>
                }
            </select>
        </label>
    </div>

    <hr/>

    <h3>Obchodní tabulka</h3>

    <table>
        <thead>
        <tr>
            <td colspan="2">Dítě má v ruce</td>
            <td colspan="2">Dítě chce</td>
        </tr>
        </thead>
        <tr
            style=@(_currentKingdom.GetHomeResource().Amount <= Resource.HomeResourceAmountFreeMoreThan ? "background-color: lightcoral" : "background-color: lightgreen")
            >
            <td>1x @_currentKingdom.GetHomeResource().Name</td>
            <td> -></td>
            <td>
                @if (_currentKingdom.GetHomeResource().Amount > Resource.HomeResourceAmountFreeMoreThan)
                {
                    <span style="color: green; font-size: x-small">ZDARMA</span>
                }
                else
                {
                    <span style="color: red; font-size: x-small">NEDOSTATEK</span>
                }
            </td>
            <td>
                <button @onclick="() => UpdateKingdom(_currentKingdom.GetHomeResource().Name, -1)"
                        disabled=@(_currentKingdom.GetHomeResource().Amount <= Resource.HomeResourceAmountFreeMoreThan)>
                    Vydat zdarma
                </button>
            </td>
        </tr>
        @foreach (var offeredResource in _currentKingdom.Resources)
        {
            @foreach (var targetResource in _currentKingdom.Resources)
            {
                @if (offeredResource.Name != targetResource.Name && offeredResource.GetExchangeRate(targetResource) != 0)
                {
                    <tr style=@(offeredResource.GetExchangeRate(targetResource) > 0? "background-color: lightgreen" : "background-color: lightcoral") >
                        @if (offeredResource.GetExchangeRate(targetResource) > 0)
                        {
                            <td>1x @offeredResource.Name</td>
                        }
                        else
                        {
                            <td>@(offeredResource.GetExchangeRate(targetResource) * -1)x @offeredResource.Name</td>
                        }

                        <td>-></td>
                        @if (offeredResource.GetExchangeRate(targetResource) > 0)
                        {
                            <td>@(offeredResource.GetExchangeRate(targetResource))x @targetResource.Name</td>
                        }
                        else
                        {
                            <td>1x @targetResource.Name</td>
                        }
                        <td>
                            <button
                                @onclick="async () => { 
                                    if (offeredResource.GetExchangeRate(targetResource) > 0) {
                                        await UpdateKingdom(offeredResource.Name, 1);
                                        await UpdateKingdom(targetResource.Name, offeredResource.GetExchangeRate(targetResource)*-1); 
                                    }else { 
                                        await UpdateKingdom(offeredResource.Name, offeredResource.GetExchangeRate(targetResource)*-1);
                                        await UpdateKingdom(targetResource.Name, -1); 
                                    } }"
                            >Prodat
                            </button>
                        </td>
                    </tr>
                }
            }
        }
    </table>

    <hr/>

    <h3>Můj sklad</h3>

    <table>
        @foreach (var resource in _currentKingdom.Resources)
        {
            <tr>
                <td>@resource.Name</td>
                <td>
                    <button
                        @onclick="() => UpdateKingdom(resource.Name, -1)">-1
                    </button>
                    @resource.Amount
                    <button
                        @onclick="() => UpdateKingdom(resource.Name, +1)">+1
                    </button>
                </td>

            </tr>
        }
    </table>


    <hr/>

    <p>Poslendí změna: @_gameData.LastUpdated.ToLongTimeString()</p>
}
else
{
    <p>Chvilku strpení - načítám data :)</p>
}

@code {
    private int _selectedKingdomIndex = 0;
    private Kingdom _currentKingdom => _gameData.Kingdoms[_selectedKingdomIndex];
    private HubConnection? hubConnection;
    private GameData _gameData = new GameData();
    private string? userInput;
    private string? messageInput;

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(Navigation.ToAbsoluteUri("/gamedatahub"))
            .Build();

        hubConnection.On<GameData>("NewGameData", (gameData) =>
        {
            _gameData = gameData;
            InvokeAsync(StateHasChanged);
        });

        await hubConnection.StartAsync();
        await hubConnection.SendAsync("Sync");
    }

    private async Task Send()
    {
        if (hubConnection is not null)
        {
            await hubConnection.SendAsync("UpdateGameData", _gameData);
        }
    }

    private async Task UpdateKingdom(string resourceName, int amount)
    {
        // Make sure we don't set the resource to negative numbers
        if (_currentKingdom.Resources.First(r => r.Name == resourceName).Amount == 0 && amount == -1)
        {
            return;
        }

        var updateContract = new GameDataUpdateContract
        {
            KingdomName = _currentKingdom.KingdomName,
            ResourceName = resourceName,
            Amount = amount
        };

        if (hubConnection is not null)
        {
            await hubConnection.SendAsync("UpdateGameData", updateContract);
        }
    }

    public bool IsConnected =>
        hubConnection?.State == HubConnectionState.Connected;

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }

}
